<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<!-- 不使用namespace的话sql搜索定位会比较方便 -->
<mapper namespace="Im$inquiries">

	<resultMap id="RM.Im$inquiries" type="com.company.project.model.Im$inquiries">
        <result property="inquiryId" column="INQUIRY_ID"/>
        <result property="contentId" column="CONTENT_ID"/>
        <result property="extBuyerId" column="EXT_BUYER_ID"/>
        <result property="extContactId" column="EXT_CONTACT_ID"/>
        <result property="compId" column="COMP_ID"/>
        <result property="contactId" column="CONTACT_ID"/>
        <result property="orgType" column="ORG_TYPE"/>
        <result property="inquiryType" column="INQUIRY_TYPE"/>
        <result property="inquiryTime" column="INQUIRY_TIME"/>
        <result property="lastThreadTime" column="LAST_THREAD_TIME"/>
        <result property="recipientTotal" column="RECIPIENT_TOTAL"/>
        <result property="deleted" column="DELETED"/>
        <result property="deadline" column="DEADLINE"/>
        <result property="cc" column="CC"/>
        <result property="sendCopy" column="SEND_COPY"/>
        <result property="expectQtyVol" column="EXPECT_QTY_VOL"/>
        <result property="requests" column="REQUESTS"/>
        <result property="createBy" column="CREATE_BY"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="lastUpdateBy" column="LAST_UPDATE_BY"/>
        <result property="lastUpdateTime" column="LAST_UPDATE_TIME"/>
        <result property="isHeld" column="IS_HELD"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="Im$inquiries.columns">
	    <![CDATA[
		INQUIRY_ID,CONTENT_ID,EXT_BUYER_ID,EXT_CONTACT_ID,COMP_ID,CONTACT_ID,ORG_TYPE,INQUIRY_TYPE,INQUIRY_TIME,LAST_THREAD_TIME,RECIPIENT_TOTAL,DELETED,DEADLINE,CC,SEND_COPY,EXPECT_QTY_VOL,REQUESTS,CREATE_BY,CREATE_TIME,LAST_UPDATE_BY,LAST_UPDATE_TIME,IS_HELD
	    ]]>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="Im$inquiries.insert" useGeneratedKeys="true" keyProperty="inquiryId">
    <![CDATA[
        INSERT INTO IM$INQUIRIES (
        	INQUIRY_ID ,
        	CONTENT_ID ,
        	EXT_BUYER_ID ,
        	EXT_CONTACT_ID ,
        	COMP_ID ,
        	CONTACT_ID ,
        	ORG_TYPE ,
        	INQUIRY_TYPE ,
        	INQUIRY_TIME ,
        	LAST_THREAD_TIME ,
        	RECIPIENT_TOTAL ,
        	DELETED ,
        	DEADLINE ,
        	CC ,
        	SEND_COPY ,
        	EXPECT_QTY_VOL ,
        	REQUESTS ,
        	CREATE_BY ,
        	CREATE_TIME ,
        	LAST_UPDATE_BY ,
        	LAST_UPDATE_TIME ,
        	IS_HELD 
        ) VALUES (
        	#{inquiryId} ,
        	#{contentId} ,
        	#{extBuyerId} ,
        	#{extContactId} ,
        	#{compId} ,
        	#{contactId} ,
        	#{orgType} ,
        	#{inquiryType} ,
        	#{inquiryTime} ,
        	#{lastThreadTime} ,
        	#{recipientTotal} ,
        	#{deleted} ,
        	#{deadline} ,
        	#{cc} ,
        	#{sendCopy} ,
        	#{expectQtyVol} ,
        	#{requests} ,
        	#{createBy} ,
        	#{createTime} ,
        	#{lastUpdateBy} ,
        	#{lastUpdateTime} ,
        	#{isHeld} 
        )
    ]]>
		<!--	
			oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL 
			DB2: order="BEFORE"" values nextval for sequenceName
		<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
			SELECT sequenceName.nextval AS ID FROM DUAL 
        </selectKey>
		-->
	</insert>
    
	<update id="Im$inquiries.update" >
    <![CDATA[
        UPDATE IM$INQUIRIES SET
	        CONTENT_ID = #{contentId} ,
	        EXT_BUYER_ID = #{extBuyerId} ,
	        EXT_CONTACT_ID = #{extContactId} ,
	        COMP_ID = #{compId} ,
	        CONTACT_ID = #{contactId} ,
	        ORG_TYPE = #{orgType} ,
	        INQUIRY_TYPE = #{inquiryType} ,
	        INQUIRY_TIME = #{inquiryTime} ,
	        LAST_THREAD_TIME = #{lastThreadTime} ,
	        RECIPIENT_TOTAL = #{recipientTotal} ,
	        DELETED = #{deleted} ,
	        DEADLINE = #{deadline} ,
	        CC = #{cc} ,
	        SEND_COPY = #{sendCopy} ,
	        EXPECT_QTY_VOL = #{expectQtyVol} ,
	        REQUESTS = #{requests} ,
	        CREATE_BY = #{createBy} ,
	        CREATE_TIME = #{createTime} ,
	        LAST_UPDATE_BY = #{lastUpdateBy} ,
	        LAST_UPDATE_TIME = #{lastUpdateTime} ,
	        IS_HELD = #{isHeld} 
        WHERE 
	        INQUIRY_ID = #{inquiryId} 
    ]]>
	</update>

    <delete id="Im$inquiries.delete">
    <![CDATA[
        DELETE FROM IM$INQUIRIES WHERE
        INQUIRY_ID = #{id} 
    ]]>
    </delete>
    
    <select id="Im$inquiries.getById" resultMap="RM.Im$inquiries">
		SELECT <include refid="Im$inquiries.columns" />
	    <![CDATA[
		    FROM IM$INQUIRIES 
	        WHERE 
		        INQUIRY_ID = #{id} 
	    ]]>
	</select>
	
	<sql id="Im$inquiries.findPage.where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
		<where>	      				
	       <if test="@Ognl@isNotEmpty(inquiryId)">
				AND INQUIRY_ID = #{inquiryId}
			</if>
	       <if test="@Ognl@isNotEmpty(contentId)">
				AND CONTENT_ID = #{contentId}
			</if>
	       <if test="@Ognl@isNotEmpty(extBuyerId)">
				AND EXT_BUYER_ID = #{extBuyerId}
			</if>
	       <if test="@Ognl@isNotEmpty(extContactId)">
				AND EXT_CONTACT_ID = #{extContactId}
			</if>
	       <if test="@Ognl@isNotEmpty(compId)">
				AND COMP_ID = #{compId}
			</if>
	       <if test="@Ognl@isNotEmpty(contactId)">
				AND CONTACT_ID = #{contactId}
			</if>
	       <if test="@Ognl@isNotEmpty(orgType)">
				AND ORG_TYPE = #{orgType}
			</if>
	       <if test="@Ognl@isNotEmpty(inquiryType)">
				AND INQUIRY_TYPE = #{inquiryType}
			</if>
	       <if test="@Ognl@isNotEmpty(inquiryTimeBegin)">
				AND INQUIRY_TIME >= #{inquiryTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(inquiryTimeEnd)">
				AND INQUIRY_TIME &lt;= #{inquiryTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(lastThreadTimeBegin)">
				AND LAST_THREAD_TIME >= #{lastThreadTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(lastThreadTimeEnd)">
				AND LAST_THREAD_TIME &lt;= #{lastThreadTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(recipientTotal)">
				AND RECIPIENT_TOTAL = #{recipientTotal}
			</if>
	       <if test="@Ognl@isNotEmpty(deleted)">
				AND DELETED = #{deleted}
			</if>
	       <if test="@Ognl@isNotEmpty(deadline)">
				AND DEADLINE = #{deadline}
			</if>
	       <if test="@Ognl@isNotEmpty(cc)">
				AND CC = #{cc}
			</if>
	       <if test="@Ognl@isNotEmpty(sendCopy)">
				AND SEND_COPY = #{sendCopy}
			</if>
	       <if test="@Ognl@isNotEmpty(expectQtyVol)">
				AND EXPECT_QTY_VOL = #{expectQtyVol}
			</if>
	       <if test="@Ognl@isNotEmpty(requests)">
				AND REQUESTS = #{requests}
			</if>
	       <if test="@Ognl@isNotEmpty(createBy)">
				AND CREATE_BY = #{createBy}
			</if>
	       <if test="@Ognl@isNotEmpty(createTimeBegin)">
				AND CREATE_TIME >= #{createTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(createTimeEnd)">
				AND CREATE_TIME &lt;= #{createTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(lastUpdateBy)">
				AND LAST_UPDATE_BY = #{lastUpdateBy}
			</if>
	       <if test="@Ognl@isNotEmpty(lastUpdateTimeBegin)">
				AND LAST_UPDATE_TIME >= #{lastUpdateTimeBegin}
		   </if>
		   <if test="@Ognl@isNotEmpty(lastUpdateTimeEnd)">
				AND LAST_UPDATE_TIME &lt;= #{lastUpdateTimeEnd}
		   </if>
	       <if test="@Ognl@isNotEmpty(isHeld)">
				AND IS_HELD = #{isHeld}
			</if>
		</where>
	</sql>
		
    <select id="Im$inquiries.findPage.count" resultType="long">
        SELECT count(*) FROM IM$INQUIRIES 
		<include refid="Im$inquiries.findPage.where"/>    
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="Im$inquiries.findPage" resultMap="RM.Im$inquiries">
    	SELECT <include refid="Im$inquiries.columns" />
	    FROM IM$INQUIRIES 
		<include refid="Im$inquiries.findPage.where"/>
		
		<if test="@Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>

	
</mapper>

